.caja
	width 100%
	padding 0
	max-width 1175px
	margin-top 1rem
	margin-left auto
	margin-right auto
	overflow hidden

.btn-group.btn-group-toggle.pago
	padding-right: 15%!important
	padding-left: 15%!important
	
.form-row.caja
	padding-right: 5%!important
	padding-left: 15%!important

.form-row
	margin-bottom 1rem

textarea.form-control
	height 200px!important
	