.container
	nav.navbar.navbar-expand-lg.navbar-light.bg-white
		a.navbar-brand(href="#")
			img.logo(src="img/logo_FIAT.png", style="width:158.4px;height:158.4px")
		button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation")
			span.navbar-toggler-icon
		.collapse.navbar-collapse#navbarTogglerDemo02
			ul.navbar-nav.mr-auto.mt-2.mt-lg-0
				li.nav-item.active
					a.nav-link(href="#" style="font-weight:bold") MODELOS
						span.sr-only (current)
				li.nav-item.active
					a.nav-link(href="#" style="font-weight:bold") PRUEBA DE MANEJO
						span.sr-only (current)
				li.nav-item.active
					a.nav-link(href="#" style="font-weight:bold") COTIZAR
						span.sr-only (current)
				li.nav-item.active
					a.nav-link(href="#" style="font-weight:bold") PROMOCIONES
						span.sr-only (current)
				li.nav-item.active
					a.nav-link(href="#" style="font-weight:bold") DISTRIBUIDORES
						span.sr-only (current)